.change-page {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 305840b (Valmis julkaisuun)

button {
    margin: 10px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

button:hover {
    color: gray;
<<<<<<< HEAD
}
=======
>>>>>>> c3f2200 (Sivun vaihto kesken)
=======
}
>>>>>>> 305840b (Valmis julkaisuun)
